<!-- login.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Task Manager App</title>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
</body>
</html>
